.bodys{
    background-image: url('./images/beutifull-lake-view-1.jpg'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-blend-mode: darken;
    
}
.logoR{
    background-image: url('./images/g_tech_3.png');
    height: 100px;
    width: 220px;
    background-color: white;
    opacity: 84%;
}
.pic{
   width: 45px;
   position: relative; top: 3px;

}
img{
    width: 250px;
    position: relative; bottom: 30px;
}
.rHead{
    height: 50px;
    border-radius: 20px;
    background-color: black;
    align-items: center;
    

}
.formR{
 
    opacity: 80%;
    width: 40%;
    height: 800px;
    background: #D9D9D9;
    border-radius: 30px;
    
}
.textLi{

    color:black;
    float: left;
    position: relative; left: 30px;
}
form{
    opacity: 1;
}
input{
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    width: 75%;
}
button{
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 8px;
    padding: 12px;
    width: 30%;
}
.haveaccount{
    font-size: 24px;
}
